<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucweb.eduapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/EduAppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Matpel.Sejarah"></activity>
        <activity android:name=".Matpel.AgamaIslam" />
        <activity android:name=".Matpel.BahasaIndo" />
        <activity android:name=".Matpel.Informatika" />
        <activity android:name=".SplashSreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Matpel.SainsActivity" />
        <activity android:name=".Matpel.MatematikaActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".TebakSelesai" />
        <activity android:name=".TebakGambar" />
        <activity android:name=".GameActivity" />
        <activity android:name=".SpinActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".KuisActivity" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>